body {
    font-family: "Alegreya Sans SC", sans-serif;
}
h1{
    font-family: "tangerine", cursive;
}

 h2, h3 {
    font-family: "Solway", serif;
    font-size: 1rem
    
}

h2 {
    color: rgb(14, 4, 4);
}

header h2 {
    color: #000000;
}

footer {
    background-image: linear-gradient(bisque, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 10px;
    background-color:bisque;
    color: white;
    margin: 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.navbar {
    background-color: bisque;
    
}