body {
    font-family: "Alegreya Sans SC", sans-serif;
}

h1, h2, h3 {
    font-family: "Solway", serif;
    font-size: 20px
    
}

h2 {
    color: rgb(145, 155, 219);
}

header h2 {
    color: #CEC8FF;
}

footer {
    background-image: linear-gradient(bisque, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 10px;
    background-color:bisque;
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}